*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/imagenes/background-image.jpeg) !important;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
}

/*MISMO HEADER PARA TODOS*/


.navbar-brand img{
    
    height: 4rem;
    width: 4rem; 
    
    
}



@media screen and (max-width:1024px){
    .contenedor__header{
display: flex;
justify-content: space-evenly
    }
    .header__link{
        padding: 0 12px;
        font-size: 1.5rem;
    }
    .header__imagen--logo{
        height: 3rem;
        width: 3rem;   
    }
    .buscador input{
        width: 8rem;
        height: 1.5rem;
    }
    .buscador i{
        font-size: large;

    }
    /*INDEX*/

    .main__div--blonde{
        margin: 4rem 0;
    }
    .main__div--brown{
        margin: 4rem 0;
    }
    .main__div--ipa{
        margin: 4rem 0;
    }

    /*LOCALES*/

    .contenedor__titulo h1{
        margin-top: 1.5rem;
        font-size: 3rem;
      display: flex;
      justify-content: center;
      
    }

.main__section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
    .main__div--locales{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    .main__div--locales p{
        font-size: 1.5rem;
        text-align: center;
        
    }
}


@media screen and (max-width:768px) {
    .contenedor__header{
        display: flex;
        flex-flow: column wrap;
        
    }
    .header__link{
        display: block;
        padding: 0;
    }

    /*INDEX*/

    .main__imagen{
        margin: 4rem 0;
        
    }
    .main__div--blonde{
        margin: 4rem 0;
    }
    .main__div--brown{
        margin: 4rem 0;
    }
    .main__div--ipa{
        margin: 4rem 0;
    }

    /*LOCALES*/

    .contenedor__titulo h1{
        margin-top: 1.5rem;
        font-size: 3rem;
      display: flex;
      justify-content: center;
      
    }

.main__section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
    .main__div--locales{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    .main__div--locales p{
        font-size: 1.5rem;
        text-align: center;
        
    }
}
@media screen and (max-width:425px) {
    .contenedor__header{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        
    }
    .header__link{
        display: block;
        padding: 0;
    }
    /*INDEX*/
    .main__imagen{
        margin: 4rem 0;
        width: 100%;
        object-fit: scale-down;
    }
    .main__div--blonde{
        margin: 4rem 0;
    }
    .main__div--brown{
        margin: 4rem 0;
    }
    .main__div--ipa{
        margin: 4rem 0;
    }
    .main__subtitulo{
        font-size: 1.5rem;
    }

    

    /*LOCALES*/

    .contenedor__titulo h1{
        margin-top: 1.5rem;
        font-size: 1.6rem;
      display: flex;
      justify-content: center;
      
    }

.main__section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
    .main__div--locales{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    .main__div--locales p{
        font-size: 0.9rem;
        text-align: center;
        
    }

    /*NOTICIAS*/

    #main__noticias h1{
        margin: 2rem 0;
        font-size: 3rem;
    }

    /*SOBRE NOSOTROS*/

    #main__aboutUs h1{
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    .container__info p{
        font-size: 0.7rem;
    }
    .container__info h2{
        font-size: 1.2rem;
    }
    .main__img--aboutUs{
        width: 25rem;
    height:40rem;
    object-fit: scale-down;
    border:none;
    }

    /*CONTACTO*/

    #userSex{
        margin: 0 0rem;
        
    }

    .main__div--contacto h1{
        font-size:1.8rem ;
        margin-top: 2rem;
    }

    .main__div--contacto p{
        font-size: 1.2rem;
    }
    .main__div--field{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
  



    .footer__redes{
        display: flex;
        flex-flow: column wrap;
    }

    .footer__copy p{
        font-size:0.8rem ;
    }

}