*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f1110;
}

/*MISMO HEADER PARA TODOS*/

.contenedor__index{
    display: grid;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
} 

#header__index{
    grid-column: 1/span 3;
    grid-row: 1/2;
    display: flex;
   
   

}

.contenedor__header{
    width:100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
   
}




.buscador{
    margin-right: 1rem;
}

.buscador input{
    width: 12rem;
    height: 2.5rem;
}

.buscador input:focus{
    outline: none;
    border: none;
}
.buscador i{
    font-size: x-large;
}
.buscador i:hover{
    animation: heartbeat 1s linear;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }


.header__imagen--logo{
    
    height: 4rem;
    width: 4rem;   
    
}

.header__imagen--logo:hover{
    animation: bounce-top 1s ease-in;
}

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }
  
  

.header__link{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    line-height: 1.9;
    font-weight: bolder;
    font-variant: small-caps;
    padding: 14px 50px;
    color: #7e7474;
    transition: 0.8s;
   
}
.header__link:hover{
    animation: text-focus-in 0.5s ease-in;
    color: white;
    
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/*INDEX Y GENERAL*/
.main__index{
    grid-column: 1/span 3;
}


.main__titulo{
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-style: italic;
    color: rgb(82, 1, 1);
}

.main__titulo:hover{
    animation: bounce-top 1s ease-in;

}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

.main__imagen{
width: 100%;
object-fit: cover;



}


.main__subtitulo{
    font-size: 2.8rem;
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-style: italic;
    color: rgb(93, 93, 60);
    text-align: center;
    background-color:#0f1110;
    
}
.main__parrafo--negrita{
    display: inline-block;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    font-weight: bolder;
    color: rgb(161, 161, 160);
    
    
}
.main__parrafo--info{
    color: whitesmoke;
    font-size: 1.5rem;
}

.main__imagen--pequeña{
    width: 15rem;
    height: 15rem;
    border: 3px solid black;
    border-radius: 50%;
    
    
}
.main__div--blonde{
    text-align: center;
    background-color: #0f1110;
}
.main__div--brown{
    text-align: center;
    background-color: #0f1110;
}
.main__div--ipa{
    text-align: center;
    background-color: #0f1110;
}

.main__form{
    border-radius: px;
    background-color:#0f1110;
    text-align: center;
    color: rgb(161, 161, 160);
    font-size: 1.5rem;
    
    
}
/*CONTACTO*/
.contenedor__contacto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

#header__contacto{
    grid-column: 1/span 3;
}

#main__contacto{
    grid-column: 1/span 3;
}
#footer__contacto{
    grid-column: 1/span 3;
}

.main__div--contacto{
    text-align: center;
    background-color:#0f1110;
}
.main__fieldset{
    border: none;
    margin-top: 50px;
}

.main__field{
    padding: 20px;
    width: 70vw;
    background-color: white;
    
   
    font-size: 1.2rem;
    font-family:'Holtwood One SC', serif;
    border-top: 10px solid rgb(102, 102, 101);
}

.main__field:focus{
    background: linear-gradient(to bottom, transparent, rgb(102, 102, 101) );
    outline: none;
}



.main__div--field{
    margin: 3rem;
    font-size: 1.2rem;
    font-family:'Holtwood One SC', serif;
}
.main__button{
    padding: 20px;
    width: 15rem;
    font-size: 1.2rem;
    font-family:'Holtwood One SC', serif;
    color: rgb(102, 102, 101);
    text-transform: uppercase;
    overflow:hidden;
    outline: none; 
    transition: 0.2s;   
}
.main__button:hover{
   
    border: none;
    color: black;
    background: #7e7474;
    box-shadow: 0 0 10px #7e7474, 0 0 40px #7e7474, 0 0 80px #7e7474;
}
#userSex{
    margin: 0 2rem;
    
}


/*LOCALES*/
.contenedor__locales{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,auto);
    overflow: hidden;
    justify-content: center;
    align-content: center;
    
}
#header__locales{
    grid-column: 1/span 3;
    grid-row: 1/2;
}

#main__locales{
    grid-column: 1/span 3;
    grid-row: 2/5;
    
}
#footer__locales{
    grid-column: 1/span 3;
    grid-row: 5/6;
    }
    

.main__section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: space-between;
}


.main__div--locales{
 margin: 30px;  
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: center;
 

}

.main__parrafo--localidad{
color: white;
font-size: 1.2rem;
font-family: 'Permanent Marker', cursive;


}
.main__parrafo--direccion{
    color: white;
    font-size: 1.2rem;
font-family: 'Permanent Marker', cursive;
   

   
}


.main__img--locales{
    width: 18.75rem;
    height:13.75rem;
}

/*SOBRE NOSOTROS*/
.contenedor__aboutUs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

#header__aboutUs{
    grid-column: 1/span 3;
    grid-row: 1/2;
}
#main__aboutUs{
    grid-column: 1/span 3;
    grid-row: 2/3;
}
#footer__aboutUs{
    grid-column: 1/span 3;
    grid-row: 3/4;
}

.container__info{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

}

.container__img--aboutUs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main__img--aboutUs{
    width: 25rem;
    height:40rem;
    object-fit: cover;
    margin: 3rem;
    border:2px groove #7e7474 ;
}
.main__parrafo--aboutUs{
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
   
   
}

/*NOTICIAS*/
.contenedor__noticias{
    display: grid;
    grid-template-areas: 'header header header'
                            'main main main'
                            'footer footer footer';

    overflow: hidden;
    justify-content: center;
    align-content: center;                       
}

#header__noticias{
    grid-area: header;
}
#main__noticias{
    grid-area: main;
}
#footer__noticias{
    grid-area: footer;
}

.div__container--noticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    
}

.main__img--noticias{
    display: block;
    width: 18.75rem;
    height:13.75rem;
}
.main__div--noticias{
    width: 19rem;
    border: 2.5px solid rgb(61, 60, 60);
    margin: 5px;
    animation: float 3s linear infinite;  
}

@keyframes float{
    0% ,100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}


.main__subtitulo--noticias{
    font-size: 1.5rem;
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-style: italic;
    color: rgb(93, 93, 60);
    text-align: center;
    background-color:#0f1110;
    
}

.main__parrafo--infoNoticias{
    color: whitesmoke;
    font-size: 1.2rem;
}



/*MISMO FOOTER PARA TODOS*/
footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: black;
    
}
#footer__index{
    grid-column: 1/span 3;
}

.footer__contenedor{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}
.footer__redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer__info h3{
    text-align: center;
font-size: 3rem;
font-weight: lighter;
font-family: 'Holtwood One SC', serif;
}
.footer__redes i{
    font-size: 6rem;
    margin: 50px 50px;
}

.footer__redes:hover{
   animation: scale-down-center 1s ease-in;
}
.footer__copy p{
    opacity: 0.6;
}


@media screen and (max-width:1024px){
    .contenedor__header{
display: flex;
justify-content: space-evenly
    }
    .header__link{
        padding: 0 12px;
        font-size: 1.5rem;
    }
    .header__imagen--logo{
        height: 3rem;
        width: 3rem;   
    }
    .buscador input{
        width: 8rem;
        height: 1.5rem;
    }
    .buscador i{
        font-size: large;

    }
    /*INDEX*/

    .main__div--blonde{
        margin: 4rem 0;
    }
    .main__div--brown{
        margin: 4rem 0;
    }
    .main__div--ipa{
        margin: 4rem 0;
    }

    /*LOCALES*/

    .contenedor__titulo h1{
        margin-top: 1.5rem;
        font-size: 3rem;
      display: flex;
      justify-content: center;
      
    }

.main__section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
    .main__div--locales{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    .main__div--locales p{
        font-size: 1.5rem;
        text-align: center;
        
    }
}


@media screen and (max-width:768px) {
    .contenedor__header{
        display: flex;
        flex-flow: column wrap;
        
    }
    .header__link{
        display: block;
        padding: 0;
    }

    /*INDEX*/

    .main__imagen{
        margin: 4rem 0;
        
    }
    .main__div--blonde{
        margin: 4rem 0;
    }
    .main__div--brown{
        margin: 4rem 0;
    }
    .main__div--ipa{
        margin: 4rem 0;
    }

    /*LOCALES*/

    .contenedor__titulo h1{
        margin-top: 1.5rem;
        font-size: 3rem;
      display: flex;
      justify-content: center;
      
    }

.main__section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
    .main__div--locales{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    .main__div--locales p{
        font-size: 1.5rem;
        text-align: center;
        
    }

}
@media screen and (max-width:425px) {
    .contenedor__header{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        
    }
    .header__link{
        display: block;
        padding: 0;
    }
    /*INDEX*/
    .main__imagen{
        margin: 4rem 0;
        width: 100%;
        object-fit: scale-down;
    }
    .main__div--blonde{
        margin: 4rem 0;
    }
    .main__div--brown{
        margin: 4rem 0;
    }
    .main__div--ipa{
        margin: 4rem 0;
    }
    .main__subtitulo{
        font-size: 2.45rem;
    }

    

    /*LOCALES*/

    .contenedor__titulo h1{
        margin-top: 1.5rem;
        font-size: 1.6rem;
      display: flex;
      justify-content: center;
      
    }

.main__section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
    .main__div--locales{
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    .main__div--locales p{
        font-size: 0.9rem;
        text-align: center;
        
    }

    /*NOTICIAS*/

    #main__noticias h1{
        margin: 2rem 0;
        font-size: 3rem;
    }

    /*SOBRE NOSOTROS*/

    #main__aboutUs h1{
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    .container__info p{
        font-size: 0.7rem;
    }
    .container__info h2{
        font-size: 1.2rem;
    }
    .main__img--aboutUs{
        width: 25rem;
    height:40rem;
    object-fit: scale-down;
    border:none;
    }

    /*CONTACTO*/

    #userSex{
        margin: 0 0rem;
        
    }

    .main__div--contacto h1{
        font-size:1.8rem ;
        margin-top: 2rem;
    }

    .main__div--contacto p{
        font-size: 1.2rem;
    }
    .main__div--field{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
  



    .footer__redes{
        display: flex;
        flex-flow: column wrap;
    }

    .footer__copy p{
        font-size:0.8rem ;
    }

}