@charset "UTF-8";

html, body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.carousel-inner{
  width: 100%;
  height: 100%;
}


.main {
  /*CONTACTO*/
  /*LOCALES*/
  /*SOBRE NOSOTROS*/
  /*NOTICIAS*/ }

  
  .main__titulo {
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-style: italic;
    color: #520101;
   }
  .main__subtitulo {
    font-size: 2.8rem;
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-style: italic;
    color: #5d5d3c;
    text-align: center;
 }
  .main__parrafo--negrita {
    display: inline-block;
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    font-weight: bolder;
    color: #a1a1a0; }
  .main__parrafo--info {
    color: whitesmoke;
    font-size: 1.5rem; }
  .main__imagen--pequeña {
    width: 15rem;
    height: 15rem;
    border: 3px solid black;
    border-radius: 50%; }
  .main__div--blonde {
    text-align: center; }
  .main__div--brown {
    text-align: center; }
  .main__div--ipa {
    text-align: center; }
  .main__div--contacto {
    text-align: center;
    background-image: url(../assets/imagenes/background-image.jpeg) !important;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover; }
  .main__form {
    border-radius: 1px;
    text-align: center;
    background-image: url(../assets/imagenes/background-image.jpeg) !important;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    color: #a1a1a0;
    font-size: 1.5rem; }
  .main__fieldset {
    border: none;
    margin-top: 50px; }
  .main__field {
    padding: 20px;
    width: 70vw;
    background-color: white;
    font-size: 1.2rem;
    font-family: 'Holtwood One SC', serif;
    border-top: 10px solid #666665; }
  .main__field:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#666665));
    background: linear-gradient(to bottom, transparent, #666665);
    outline: none; }
  .main__div--field {
    margin: 3rem;
    font-size: 1.2rem;
    font-family: 'Holtwood One SC', serif; }
  .main__button, .main .button__enviar, .main .button__borrar {
    padding: 20px;
    width: 15rem;
    font-size: 1.2rem;
    font-family: 'Holtwood One SC', serif;
    color: #666665;
    text-transform: uppercase;
    overflow: hidden;
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .main__button:hover, .main .button__enviar:hover, .main .button__borrar:hover {
    border: none;
    color: black;
    background: #7e7474;
    -webkit-box-shadow: 0 0 10px #7e7474, 0 0 40px #7e7474, 0 0 80px #7e7474;
            box-shadow: 0 0 10px #7e7474, 0 0 40px #7e7474, 0 0 80px #7e7474; }
  .main .button__enviar:hover {
    background: #12bd20;
    -webkit-box-shadow: 0 0 10px #1cd12b, 0 0 40px #1cd12b, 0 0 80px #1cd12b;
            box-shadow: 0 0 10px #1cd12b, 0 0 40px #1cd12b, 0 0 80px #1cd12b; }
  .main .button__borrar:hover {
    background: #d31e1e;
    -webkit-box-shadow: 0 0 10px #c51313, 0 0 40px #c51313, 0 0 80px #c51313;
            box-shadow: 0 0 10px #c51313, 0 0 40px #c51313, 0 0 80px #c51313; }
  .main__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between; }
  .main__div--locales {
    margin: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main__parrafo--localidad {
    color: white;
    font-size: 1.2rem;
    font-family: 'Permanent Marker', cursive; }
  .main__parrafo--direccion {
    color: white;
    font-size: 1.2rem;
    font-family: 'Permanent Marker', cursive; }
  .main__img--locales {
    width: 18.75rem;
    height: 13.75rem; }
    
  .main__img--aboutUs {
    width: 25rem;
    height: 40rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 3rem;
    border: 2px groove #7e7474; }
  .main__parrafo--aboutUs {
    text-align: center;
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder; }

    .main__parrafo--aboutUs b{
      font-weight: bold;
    }
  .main__img--noticias {
    display: block;
    width: 100%;
    height: 13.75rem; }

  .main__div--noticias {
    width: 19rem;
    height: fit-content;
    margin: 10px;
    background-color: white;
    transition: all 1s;}
   .main__div--noticias:hover{
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite;
   }         
  .main__subtitulo--noticias {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Holtwood One SC',Georgia,"Times New Roman",serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    font-weight: normal;
    font-style: italic;
    color: black;
    text-align: center; }
  .main__parrafo--infoNoticias {
    padding: 0 2rem;
    color: #666;
    font-family: "Montserrat";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.9rem; }

.container__img--aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#userSex {
  margin: 0 2rem; }

  .div__tresNoticias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }

.div__container--noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
  align-content: space-around;
  
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center; }

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); }
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem); } }

@keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); }
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem); } }

/*MISMO FOOTER PARA TODOS*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: black; }
  .footer__redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__info h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Holtwood One SC', serif; }
  .footer__redes i {
    font-size: 6rem;
    margin: 50px 50px; }

/*MAP REDES*/
.footer__redes #twitter:hover {
  background-color: #55acee; }

.footer__redes #facebook:hover {
  background-color: #3a5795; }

.footer__redes #instagram:hover {
  background-color: #E4405F; }

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1; }
  24% {
    opacity: 1; }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1; } }
/*# sourceMappingURL=main.css.map */